@model BacancyEmiProject.Models.CriteriaInputByUser
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <form asp-controller="Home" asp-action="Index" method="post">
            <label> Loan amount</label>
            <input asp-for="LoanAmount" id="clsLoanAmount" class="numeric" />
            <span asp-validation-for="LoanAmount" class="field-validation-valid"></span>

            <label> Loan Interest</label>
            <input asp-for="LoanInterest" id="clsLoanInterest" class="numeric"/>
            <span asp-validation-for="LoanInterest" class="field-validation-valid"></span>

            <label> No Of Year</label>
            <input asp-for="NoOfYear" id="clsNoOfYear" class="numeric"/>
            <span asp-validation-for="NoOfYear" class="field-validation-valid"></span>

            <label> Monthly Emi</label>
            <input asp-for="MonthlyEmi" disabled id="clsMonthlyEmi" class="numeric"/>
            <span asp-validation-for="MonthlyEmi" class="field-validation-valid"></span>

            <label> Rate Of Interest</label>
            <input asp-for="RateOfInterest" disabled id="clsRateOfInterest" class="numeric"/>
            <span asp-validation-for="RateOfInterest" class="field-validation-valid"></span>

            <button type="button" id="showGrid">Show Grid</button>
            <div class="clsGrid" hidden>
                <h3>EMI transaction</h3>
                <table style="border: 1px solid black">
                    <thead>
                        <tr>
                            <th style="border: 1px solid black">Opening</th>
                            <th style="border: 1px solid black">Principal</th>
                            <th style="border: 1px solid black">Interest</th>
                            <th style="border: 1px solid black">Emi</th>
                            <th style="border: 1px solid black">Closing</th>
                            <th style="border: 1px solid black">CummulativeInterest</th>
                        </tr>
                    </thead>
                    <tbody id="transactionBody" style="border: 1px solid black">
                        <tr>
                            
                        </tr>
                    </tbody>
                </table>
                <div style="float:left">
                    <button asp-controller="Home" asp-action="Index" type="submit" >Save</button>
                </div>
                
            </div>
        </form>
    </div>
    <script src="~/js/LoanEmi.js"></script>